{
  "presets": ["es2017"],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    ["root-require", {
      "projectRoot": "src"
    }]
  ]
}
